*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}


.btn-primary{
    background-color: #E55473;
    font-size: 16px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    padding: 13px 25px;
    margin-top: 20px;
}
.primary-heading{
    font-size: 32px;
    font-weight: 700;
    color:#272727;
}
.center-align{
    text-align: center;
}
.main-section{
    padding-right: 140px;
    padding-left: 140px;
}
.banner-section{
    background-color: #FCEEF1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content{
    width: 50%;
}

.banner-image{
    padding-top: 40px;
    text-align: right;
}
.main-heading{
    font-size: 4em;
    font-weight: 700;
    color: #272727;
}
.description{
    font-size: 18px;
    color:#272727;
    line-height: 30px;
    margin-top: 20px;
}

.featured-section{
    padding-top: 120px;
    padding-bottom: 100px;
}
.featured-images{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.featured-content{
    width: 32%;
}
.f-img-area{
    text-align: center;
    height: 540px;
    border-radius: 50% 50% 0px 0px;
}
.img-area1{
    background-color: #F2DEE7;
    
}
.img-area2{
    background-color: #D9EFF1
}
.img-area3{
    background-color: #E3EBDB
}
.img-area1 img{
    margin-top: 110px;
}
.img-area2 img{
    margin-top: 110px;
}
.img-area3 img{
    margin-top: 70px;
}
.featured-content p{
    font-size: 22px;
    font-weight: 600;
    color:#272727;
    text-decoration: underline;
    text-align: center;
    margin-top: 30px;
}

.delivery-section{
    background-color: #F4F4F4;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
    margin-right: 140px;
    margin-left: 140px;
}
.delivery-section h2{
    font-size: 22px;
    color: #272727c6;
    font-weight: 500;
}
.discount-section{
    background-color:#FEF6F8;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
}
.discount-text{
    width: 60%;
    padding-right: 140px;
    padding-left: 140px;
    text-align: center;
}
.discount-image{
    width: 40%;
}
.instagram-image{
    display: flex;
    justify-content: space-between;
}
.image-area{
    width: 24%;
    margin-top:30px;
}
.image-area img{
    width: 100%;
}
.coupon-section{
    margin: 100px 140px;
    background-image: url("images/Rectangle9.png");
    background-size: cover;
    background-position: center;
    padding: 120px 300px;
    text-align: center;
}
input[type="email"]{
    width: 70%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    margin-top: 40px
}
.store-location{
    display: flex;
    margin-bottom: 100px;
}
.location-area{
    width: 50%;
}
.location-img{
    background-color: #FCEEF1;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}
.location-img img{
    border-radius: 100px 100px 0px 0px;
}
.location-details{
    background-color: #E3EBDB;
    padding-top: 160px;
    position: relative;
}
.location-details .primary-heading{
    margin: 0px 100px;
}
.address{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
    padding: 50px 0px;
}
.address-1{
    border-bottom: 1px solid black;
}
.address li{
    list-style: none;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}
.bonus{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #E55473;
    color: white;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 100;
    border-radius: 0px 0px 0px 10px;
}
.footer-section{
    background-color: #111010;
    text-align: center;
}
.footer-heading{
    font-size: 42px;
    color: white;
    padding-top: 120px;
}
.footer-section .description{
    color: rgba(255, 255, 255, 0.75);
}
.copyright-text{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.348);
    margin-top: 30px;
    padding-bottom: 120px;
}


.hide{
    display: none;
}

@media screen and (max-width: 576px){
    .main-section{
        padding-right: 30px;
        padding-left: 30px;
        flex-direction: column;
    }
    .banner-section{
        flex-direction: column-reverse;
        text-align: center;
        padding-bottom: 50px;
    }
    .banner-content{
        width: 100%;
    }
    .main-heading{
        font-size: 2em;
        font-weight: 700;
        color: #272727;
    }

    .featured-images{
        flex-direction: column;
        gap: 30px;
    }
    .featured-content{
        width: 100%;
    }
    .delivery-section{
        margin-right: 0px;
        margin-left: 0px;
        flex-direction: column;
        gap: 50px;
    }
    .discount-content{
        width: 100%;
        padding-right: 30px;
        padding-left: 30px;
    }
    .discount-content img{
        width: 100%;
    }
    .instagram-image{
        column-gap: 2%;
        flex-wrap: wrap;
    }
    .image-area{
        width: 49%;
    }
    .coupon-section{
        margin: 0px;
    }
    .store-location{
        padding: 0px;
        flex-direction: column;
    }
    .location-area{
        width: 100%;
    }
    .address{
        flex-direction: column;
        text-align: center;
        margin: 0px;
    }
    .location-details .primary-heading{
        margin: 0px;
        text-align: center;
    }
}